<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="shortcut icon" href="../favicon.ico"/>
		<link rel="bookmark" href="../favicon.ico"/>
		<title>我的资产 - 平熙</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<script src="../js/jquery.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/angular.min.js"></script>
		<script>
			var app = angular.module('app', []);
			app.controller('assetsController', ['$scope', '$http', function($scope, $http) {
				
				//账户信息
				$scope.accountId = 1;
				
				//分页参数设置
				$scope.pagesize = 6;
				$scope.pagesort = "assetsDate,desc";
				
				$scope.init = function() {
					$scope.query($scope.accountId);
					$scope.queryPreMonthEomAssets($scope.accountId);
					$scope.queryRateOfReturn($scope.accountId);
				}
				
				$scope.query = function(page) {
					page = page ? (page-1) : 0;
					$http({
					  url:"/pingxi/usercenter/account/"+$scope.accountId+"/assets",
					  method:'GET',
					  params:{
						"page":page,
						"size":$scope.pagesize,
						"sort":$scope.pagesort
					  },
					  headers:{"version":"1.0.0"}
					}).success(function(data, status){
						//响应成功
						$scope.items = data.content;
						$scope.totalItems = data.totalElements;
					}).error(function(data, status){
						//处理响应失败
					});
				}
				
				$scope.updateAssets = function(id) {
					if (id != undefined) {
						window.location.href="/pingxi/usercenterUI/assetsupdate.html?id="+id;
					}
				}
				
				$scope.deleteAssets = function(id) {
					if (id != undefined) {
						$http({
						  url:'/pingxi/usercenter/account/'+$scope.accountId+'/assets/'+id,
						  method:'DELETE',
						  headers:{"version":"1.0.0"}
						}).success(function(data, status){
							  //响应成功
							  alert("删除成功");
							  $scope.query($scope.queryItem);
						}).error(function(data, status){
							  //处理响应失败
							  alert("删除失败！"+data.errorMsg);
						});
				
					}
				}
				
				$scope.queryPreMonthEomAssets = function() {
					$http({
					  url:"/pingxi/usercenter/account/"+$scope.accountId+"/assets/premonth/eom",
					  method:'GET',
					  headers:{"version":"1.0.0"}
					}).success(function(data, status){
						//响应成功
						$scope.preMonthEomAssets = data;
					}).error(function(data, status){
						//处理响应失败
					});
				}
				
				$scope.queryRateOfReturn = function() {
					$http({
					  url:"/pingxi/usercenter/account/"+$scope.accountId+"/assets/rateofreturn",
					  method:'GET',
					  headers:{"version":"1.0.0"}
					}).success(function(data, status){
						//响应成功
						$scope.rateOfReturn = data;
					}).error(function(data, status){
						//处理响应失败
					});
				}
			}]);
		</script>
	</head>
	
	<body ng-controller="assetsController" ng-init="init()">
		<div class="container">
			
			<div class="row">
				<div class="col-md-1">
				<a class="btn btn-default" href="/pingxi/usercenterUI/assetsadd.html">填报资产</a>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<span>本月收益率：</span><span ng-style="{color: items[0].monthRate < 0 ? 'green' : 'red'}">{{items[0].monthRate > 0 ? '+' : ''}}{{items[0].monthRate | number:2}}%</span>
				</div>
				<div class="col-md-12 col-xs-12">
					<span>本季收益率：</span><span ng-style="{color: items[0].quarterRate < 0 ? 'green' : 'red'}">{{items[0].quarterRate > 0 ? '+' : ''}}{{items[0].quarterRate | number:2}}%</span>
				</div>
				<div class="col-md-12 col-xs-12">
					<span>今年收益率：</span><span ng-style="{color: items[0].yearRate < 0 ? 'green' : 'red'}">{{items[0].yearRate > 0 ? '+' : ''}}{{items[0].yearRate | number:2}}%</span>
				</div>
			</div>
			
			<div class="table-responsive">
				<table class="table table-condensed table-hover">
					<tr role="row">
						<th>日期</th>
						<th>资产</th>
						<th>仓位</th>
						<th>停牌</th>
						<th>转账</th>
						<th>收益</th>
						<th>操作</th>
					</tr>
					<tr ng-repeat="item in items">
						<td hidden>{{item.id}}</td>
						<td>{{item.assetsDate | date:'yy/MM/dd'}}</td>
						<td>{{item.assets | currency:'':0}}</td>
						<td>{{item.freightSpace}}%</td>
						<td>{{item.tpAssets}}</td>
						<td>{{item.transfer>0?'+'+(item.transfer | currency:'':0):(item.transfer | currency:'':0)}}</td>
						<td><span ng-style="{color: item.dayRate < 0 ? 'green' : 'red'}">{{item.dayRate > 0 ? '+' : ''}}{{item.dayRate | number:2}}%</span></td>
						<td>
							<a href="" ng-click="updateAssets(item.id)">修改</a>
<!-- 							<a href="" ng-dblclick="deleteAssets(item.id)">删除</a> -->
						</td>
					</tr>
					<tr class="active">
						<td hidden>{{preMonthEomAssets.id}}</td>
						<td>{{preMonthEomAssets.assetsDate | date:'yy/MM/dd'}}</td>
						<td>{{preMonthEomAssets.assets | currency:'':0}}</td>
						<td>{{preMonthEomAssets.freightSpace}}%</td>
						<td>{{preMonthEomAssets.tpAssets}}</td>
						<td>{{preMonthEomAssets.transfer>0?'+'+(preMonthEomAssets.transfer | currency:'':0):(preMonthEomAssets.transfer | currency:'':0)}}</td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
			
			<div class="table-responsive">
				<table class="table table-condensed table-hover">
					<tr role="row">
						<th>01月</th>
						<th>02月</th>
						<th>03月</th>
						<th>04月</th>
						<th>05月</th>
						<th>06月</th>
					</tr>
					<tr>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth01 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth01 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth01 == 0 ? '-' : (rateOfReturn.rateOfMonth01 | number:2)+'%'}}</span></td>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth02 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth02 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth02 == 0 ? '-' : (rateOfReturn.rateOfMonth02 | number:2)+'%'}}</span></td>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth03 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth03 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth03 == 0 ? '-' : (rateOfReturn.rateOfMonth03 | number:2)+'%'}}</span></td>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth04 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth04 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth04 == 0 ? '-' : (rateOfReturn.rateOfMonth04 | number:2)+'%'}}</span></td>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth05 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth05 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth05 == 0 ? '-' : (rateOfReturn.rateOfMonth05 | number:2)+'%'}}</span></td>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth06 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth06 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth06 == 0 ? '-' : (rateOfReturn.rateOfMonth06 | number:2)+'%'}}</span></td>
					</tr>
					<tr>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth01 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth01 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth01 == 0 ? '-' : (rateOfReturn.profitOfMonth01 | number:2)}}</span></td>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth02 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth02 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth02 == 0 ? '-' : (rateOfReturn.profitOfMonth02 | number:2)}}</span></td>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth03 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth03 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth03 == 0 ? '-' : (rateOfReturn.profitOfMonth03 | number:2)}}</span></td>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth04 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth04 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth04 == 0 ? '-' : (rateOfReturn.profitOfMonth04 | number:2)}}</span></td>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth05 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth05 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth05 == 0 ? '-' : (rateOfReturn.profitOfMonth05 | number:2)}}</span></td>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth06 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth06 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth06 == 0 ? '-' : (rateOfReturn.profitOfMonth06 | number:2)}}</span></td>
					</tr>
				</table>
				<table class="table table-condensed table-hover">
					<tr role="row">
						<th>07月</th>
						<th>08月</th>
						<th>09月</th>
						<th>10月</th>
						<th>11月</th>
						<th>12月</th>
					</tr>
					<tr>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth07 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth07 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth07 == 0 ? '-' : (rateOfReturn.rateOfMonth07 | number:2)+'%'}}</span></td>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth08 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth08 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth08 == 0 ? '-' : (rateOfReturn.rateOfMonth08 | number:2)+'%'}}</span></td>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth09 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth09 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth09 == 0 ? '-' : (rateOfReturn.rateOfMonth09 | number:2)+'%'}}</span></td>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth10 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth10 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth10 == 0 ? '-' : (rateOfReturn.rateOfMonth10 | number:2)+'%'}}</span></td>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth11 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth11 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth11 == 0 ? '-' : (rateOfReturn.rateOfMonth11 | number:2)+'%'}}</span></td>
						<td><span ng-style="{color: rateOfReturn.rateOfMonth12 < 0 ? 'green' : 'red'}">{{rateOfReturn.rateOfMonth12 > 0 ? '+' : ''}}{{rateOfReturn.rateOfMonth12 == 0 ? '-' : (rateOfReturn.rateOfMonth12 | number:2)+'%'}}</span></td>
					</tr>
					<tr>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth07 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth07 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth07 == 0 ? '-' : (rateOfReturn.profitOfMonth07 | number:2)}}</span></td>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth08 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth08 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth08 == 0 ? '-' : (rateOfReturn.profitOfMonth08 | number:2)}}</span></td>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth09 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth09 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth09 == 0 ? '-' : (rateOfReturn.profitOfMonth09 | number:2)}}</span></td>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth10 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth10 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth10 == 0 ? '-' : (rateOfReturn.profitOfMonth10 | number:2)}}</span></td>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth11 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth11 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth11 == 0 ? '-' : (rateOfReturn.profitOfMonth11 | number:2)}}</span></td>
						<td><span ng-style="{color: rateOfReturn.profitOfMonth12 < 0 ? 'green' : 'red'}">{{rateOfReturn.profitOfMonth12 > 0 ? '+' : ''}}{{rateOfReturn.profitOfMonth12 == 0 ? '-' : (rateOfReturn.profitOfMonth12 | number:2)}}</span></td>
					</tr>
				</table>
			</div>
		</div><!-- /.container -->
	</body>
</html>