<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="shortcut icon" href="../../favicon.ico"/>
		<link rel="bookmark" href="../../favicon.ico"/>
		<title>修改详情信息 - 平熙</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/angular.min.js"></script>
		<script src="../../js/urlUtil.js"></script>
		<script>
			var app = angular.module('app', []);
			app.controller('extinfoupdateController', ['$scope', '$http', function($scope, $http) {
				
				$scope.id;
				$scope.zhongwenming;
				
				$scope.getUrlParams = function() {
					$scope.id = getQueryString("id");
					$scope.zhongwenming = getQueryString("zhongwenming");
					$scope.query($scope.id);
				}
				
				$scope.query = function(id) {
					$http({
						  url:"/pingxi/fupan/shl/stock/ext/"+id,
						  method:'GET',
						  headers:{"version":"1.0.0"}
						}).success(function(data, status){
							  //响应成功
							  $scope.item = data;
						}).error(function(data, status){
							  //处理响应失败
							  alert("失败！"+data.errorMsg);
						});
				}
				
				$scope.save = function() {
					$http({
						  url:'/pingxi/fupan/shl/stock/ext/'+$scope.item.id,
						  method:'PUT',
						  data:$scope.item,
						  headers:{"version":"1.0.0"}
						}).success(function(data, status){
							  //响应成功
							  alert("成功");
						}).error(function(data, status){
							  //处理响应失败
							  alert("失败！"+data.errorMsg);
						});
				}
				
				$scope.appendFupaiInfoFormat = function() {
					var format = "【复牌】**，【**】。**。\n停牌前总市值$1$亿元，流通市值$2$亿元，前10大流通股东占【$3$%】，实际流通市值【$shijiLiutong$亿元】，停牌价$4$。";
					if ($scope.item.miaoshu != undefined) {
						$scope.item.miaoshu += format;
					} else {
						$scope.item.miaoshu = format;
					}
				}
				
				$scope.appendSongzhuanYuqiInfoFormat = function() {
					var format = "每股净资产$1$，公积金$2$，未分配利润$3$，总股本$4$亿股，流通股$5$亿股，\n总市值$6$亿元，流通市值$7$亿元，前10大流通股东占【$8$%】，实际流通市值【$shijiLiutong$亿元】，当前价$9$。";
					format += "\n一/三季报净利同比增长/减少**。";
					format += "\n中/年报    净利同比预增/降**。";
					format += "\n解禁提醒**";
					if ($scope.item.miaoshu != undefined) {
						$scope.item.miaoshu += format;
					} else {
						$scope.item.miaoshu = format;
					}
				}
				
				$scope.appendXinguInfoFormat = function() {
					var format = "板。成交量【 手】，收盘价【 元】，成交额 亿。总股本 亿，流通股 万，总市值 亿，流通值 亿。";
					if ($scope.item.miaoshu != undefined) {
						$scope.item.miaoshu += format;
					} else {
						$scope.item.miaoshu = format;
					}
				}
				
				$scope.replace = function(type) {
					if ($scope.shortContent != undefined) {
						var content = $scope.shortContent.split("/");
						debugger;
						if (type == 'tfp') {//Replace停复牌
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$1$", content[0]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$2$", content[1]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$3$", content[2]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$4$", content[3]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$shijiLiutong$", (content[1]*(100-content[2])*0.01).toFixed(1));
						} else if (type == 'gsyq') {//Replace高送预期
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$1$", content[0]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$2$", content[1]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$3$", content[2]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$4$", content[3]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$5$", content[4]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$6$", content[5]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$7$", content[6]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$8$", content[7]);
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$9$", content[8]);
							debugger;
							$scope.item.miaoshu = $scope.item.miaoshu.replace("$shijiLiutong$", (content[6]*(100-content[7])*0.01).toFixed(1));
						}
					}
				}
			}]);
		</script>
	</head>
	
	<body ng-controller="extinfoupdateController" ng-init="getUrlParams()">
		<div class="container">
			<h4 class="text-center">修改详情信息</h4>
			<form class="form-horizontal" role="form">
				<input type="hidden" ng-model="item.id">
				<div class="form-group">
					<label class="col-xs-3 col-md-5 control-label">名称</label>
					<div class="col-xs-9 col-md-4">
						<p class="form-control-static">{{zhongwenming}}&nbsp;&nbsp;{{item.daima}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 col-md-5 control-label">描述
						</p>
						<button type="button" ng-click="appendFupaiInfoFormat()">+&nbsp;<span class="glyphicon glyphicon-time"></span></button>
						</p>
						<button type="button" ng-click="replace('tfp')">R&nbsp;<span class="glyphicon glyphicon-time"></span></button>
						</p>
						<button type="button" ng-click="appendSongzhuanYuqiInfoFormat()">+&nbsp;送</button>
						</p>
						<button type="button" ng-click="replace('gsyq')">R&nbsp;送</button>
						</p>
						<button type="button" ng-click="appendXinguInfoFormat()">+&nbsp;新</button>
					</label>
					<div class="col-xs-9 col-md-4">
						<textarea cols="50" rows="10" class="form-control" ng-model="item.miaoshu"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 col-md-5 control-label">快捷输入</label>
					<div class="col-xs-9 col-md-4">
						<input type="text" class="form-control" ng-model="shortContent" placeholder="复牌 / 高送预期  输入">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 col-md-5 control-label">发生日期</label>
					<div class="col-xs-9 col-md-4">
						<input type="text" class="form-control" ng-model="item.fashengDate">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-3 col-md-5"></div>
					<div class="col-xs-9 col-md-4">
						<a class="btn btn-primary" href="" ng-click="save()">保存</a>
					</div>
				</div>
			</form>
			
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<a class="btn btn-default" href="/pingxi/fupanUI/shl/baseinfoadd.html">+ 基本</a>
					<a class="btn btn-default" href="/pingxi/fupanUI/shl/extinfoadd.html?daima={{item.daima}}&zhongwenming={{item.zhongwenming}}">+&nbsp;<span class="glyphicon glyphicon-unchecked"></span>&nbsp;详情</a>
					<a class="btn btn-default" href="/pingxi/fupanUI/shl/txinfoadd.html?daima={{item.daima}}&zhongwenming={{item.zhongwenming}}">+&nbsp;<span class="glyphicon glyphicon-bell"></span>&nbsp;提醒</a>
					<a class="btn btn-default" href="/pingxi/fupanUI/shl/tfpinfoadd.html?daima={{item.daima}}&zhongwenming={{item.zhongwenming}}">+&nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;复牌</a>
					<a class="btn btn-default" href="/pingxi/fupanUI/shl/index.html?daima={{item.daima}}"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a>
				</div>
			</div>
		</div><!-- /.container -->
	</body>
</html>