<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="shortcut icon" href="../../favicon.ico"/>
		<link rel="bookmark" href="../../favicon.ico"/>
		<title>复盘日期列表 - 平熙</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/angular.js"></script>
		<script>
			var app = angular.module('app', []);
			app.controller('fupaiController', ['$scope', '$http', function($scope, $http) {
				
				$scope.query = function() {
					$http({
						  url:"/pingxi/fupan/api/stock/fupan/datelist/10",
						  method:'GET',
						  headers:{"version":"1.0.0"}
						}).success(function(data, status){
							  //响应成功
							  $scope.itemList = data;
						}).error(function(data, status){
							  //处理响应失败
							  alert("失败！"+data.errorMsg);
						});
				}
				
			}]);
		</script>
	</head>
	
	<body ng-controller="fupaiController" ng-init="query()">
		<div class="container">
			
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-xs-4 col-md-2">
					<h4>日期</h4>
				</div>
				<div class="col-xs-8 col-md-6">
					<a class="btn btn-default" href="/pingxi/fupanUI/index.html"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a>
				</div>
			</div>
			
			<div class="row" ng-if="itemList.length == 0">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div>暂时没有任何记录</div>
				</div>
			</div>
			
			<div class="row" ng-repeat="item in itemList">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<a href="/pingxi/fupanUI/shl/fupan_daily.html?date={{item}}">{{item | date: "yyMMdd"}}</a>
				</div>
			</div>
		</div><!-- /.container -->
	</body>
</html>