<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="shortcut icon" href="../../favicon.ico"/>
		<link rel="bookmark" href="../../favicon.ico"/>
		<title>每日复盘 - 平熙</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/angular.js"></script>
		<script src="../../js/urlUtil.js"></script>
		<script>
			var app = angular.module('app', []);
			app.controller('fupaiController', ['$scope', '$http', function($scope, $http) {
				
				$scope.queryItem = {queryString:""};
				
				$scope.getUrlParams = function() {
					$scope.queryItem.queryString = getQueryString("date");
					if ($scope.queryItem.queryString != null && $scope.queryItem.queryString != "") {
						$scope.query($scope.queryItem);
					}
				}
				
				$scope.query = function(queryItem) {
					$scope.itemList = [];
					$http({
						  url:"/fupan/api/stock/fupan/"+queryItem.queryString,
						  method:'GET',
						  headers:{"version":"1.0.0"}
						}).success(function(data, status){
							  //响应成功
							  $scope.itemList = data;
						}).error(function(data, status){
							  //处理响应失败
							  alert("失败！"+data.errorMsg);
						});
				}
				
				$scope.updateBase = function(item) {
					if (item.daima != undefined) {
						window.location.href="/fupanUI/shl/baseinfoupdate.html?daima="+item.daima;
					}
				}
				
				$scope.updateExt = function(zhongwenming, item) {
					if (item.daima != undefined) {
						window.location.href="/fupanUI/shl/extinfoupdate.html?id="+item.id+"&zhongwenming="+zhongwenming;
					}
				}
				
				$scope.updateTfp = function(zhongwenming, item) {
					if (item.daima != undefined) {
						window.location.href="/fupanUI/shl/tfpinfoupdate.html?id="+item.id+"&zhongwenming="+zhongwenming;
					}
				}
				
				$scope.updateTx = function(zhongwenming, item) {
					if (item.daima != undefined) {
						window.location.href="/fupanUI/shl/txinfoupdate.html?&id="+item.id+"&zhongwenming="+zhongwenming;
					}
				}
				
				$scope.deleteInfo = function(type, id) {
					if (id != undefined) {
						$http({
							  url:'/fupan/shl/stock/'+type+"/"+id,
							  method:'DELETE',
							  headers:{"version":"1.0.0"}
							}).success(function(data, status){
								  //响应成功
								  alert("成功");
								  $scope.query($scope.queryItem);
							}).error(function(data, status){
								  //处理响应失败
								  alert("失败！"+data.errorMsg);
						});
				
					}
				}
				
			}]);
		</script>
	</head>
	
	<body ng-controller="fupaiController" ng-init="getUrlParams()">
		<div class="container">
			<div class="row" ng-if="itemList.length == 0">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div>暂时没有任何记录</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-xs-4 col-md-2">
					<h4>{{queryItem.queryString | date: "MMdd"}}复盘</h4>
				</div>
				<div class="col-xs-8 col-md-6">
<!-- 					<a class="btn btn-default" href="/fupanUI/shl/fupan_list.html"><span class="glyphicon glyphicon-list"></span>&nbsp;列表</a> -->
					<a class="btn btn-default" href="/fupanUI/shl/index.html"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a>
				</div>
			</div>
			
			<div class="row" ng-repeat="item in itemList">
				<hr ng-if="$index > 0" />
				
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<h4>{{item.zhongwenming}}
						<span ng-show="item.rongzi==1" style="color:red">(融)</span>&nbsp;{{item.daima}}&nbsp;&nbsp;
						<small>{{item.quyu}}&nbsp;&nbsp;
							<a href="" ng-click="updateBase(item)">修改</a>
							<a href="" ng-dblclick="deleteInfo('base', item.daima)">删除</a>
						</small>
					</h4>
				</div>
				
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div>{{item.bankuai}}</div>
				</div>
				
<!-- 				<h4>详细信息</h4> -->
				<p />
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div ng-if="item.extInfoList.length == 0">无。</div>
				</div>
				
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div ng-repeat="extItem in item.extInfoList" class="row">
						<div hidden="hidden">{{extItem.id}}</div>
				    	<div class="col-xs-3 col-md-2"><span class="glyphicon glyphicon-unchecked"></span>{{extItem.fashengDate | date: "yyMMdd"}}</div>
						<div class="col-xs-9 col-md-10">{{extItem.miaoshu}}&nbsp;&nbsp;
							<a href="" ng-click="updateExt(item.zhongwenming, extItem)">修改</a>
							<a href="" ng-dblclick="deleteInfo('ext', extItem.id)">删除</a>
						</div>
					</div>
				</div>
				
<!-- 				<h4>事件提醒</h4> -->
				<p />
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div ng-repeat="txItem in item.txInfoList" class="row">
						<div hidden="hidden">{{txItem.id}}</div>
				    	<div class="col-xs-3 col-md-2"><span class="glyphicon glyphicon-bell"></span>{{txItem.tixingDate | date: "yyMMdd"}}</div>
						<div class="col-xs-9 col-md-10">{{txItem.miaoshu}}&nbsp;&nbsp;
							<a href="" ng-click="updateTx(item.zhongwenming, txItem)">修改</a>
							<a href="" ng-dblclick="deleteInfo('tixing', txItem.id)">删除</a>
						</div>
					</div>
				</div>
				
<!-- 				<h4>停复牌</h4> -->
				<p />
				<div class="col-md-4"></div>
				<div class="col-md-8">
						<div ng-repeat="tfpItem in item.tfpInfoList" class="row">
							<div hidden="hidden">{{tfpItem.id}}</div>
							<div class="col-xs-3 col-md-2"><span class="glyphicon glyphicon-time"></span>{{tfpItem.fupaiDate | date: "yyMMdd"}}</div>
							<div class="col-xs-9 col-md-10">{{tfpItem.fupaiDate | date: "yyMMdd"}}复牌&nbsp;&nbsp;{{tfpItem.tingpaiDate | date: "yyMMdd"}}停牌&nbsp;&nbsp;
								<a href="" ng-click="updateTfp(item.zhongwenming, tfpItem)">修改</a>
								<a href="" ng-dblclick="deleteInfo('tingfupai', tfpItem.id)">删除</a>
							</div>
						</div>
				</div>
			</div>
		</div><!-- /.container -->
	</body>
</html>